%% -*- erlang -*-
%%{require_min_otp_vsn, "R16B01"}.
{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps, [
%%	  {snappy, ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
%% 	  {lz4, ".*", {git, "https://github.com/szktty/erlang-lz4.git"}}
]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["rel"]}.
{cover_enabled, false}.